/Build/Tokens/*
/Build/AST/*
/Build/EXE/*
/Build/Errors/*
/Build/Logs/*
/Build/IR/*
/Build/Manifests/*
/Build/Diagnostics/Lexer/*
/Build/Diagnostics/Parser/*
/Build/Diagnostics/Semantic/*
/Build/Diagnostics/IR/*
/Build/Diagnostics/Backend/*
!/Build/Tokens/.gitkeep
!/Build/AST/.gitkeep
!/Build/EXE/.gitkeep
!/Build/Errors/.gitkeep
!/Build/Logs/.gitkeep
!/Build/IR/.gitkeep
!/Build/Manifests/.gitkeep
!/Build/Diagnostics/Lexer/.gitkeep
!/Build/Diagnostics/Parser/.gitkeep
!/Build/Diagnostics/Semantic/.gitkeep
!/Build/Diagnostics/IR/.gitkeep
!/Build/Diagnostics/Backend/.gitkeep
/Tools/M10GDriver/bin/
/Tools/M10GDriver/obj/
/Tools/M10GDriver/publish/
